.header__nav{
    display: flex;
    padding: 5px;
    padding: 0 72px 0 72px;
    align-items: center;
    height: 40px;
}
.header__logo{
   flex: 1; 
   display: flex;
   position: relative;
   cursor: pointer;
   padding-left: 100px;
}
.header__logo h3{
    font-size: 20;
    font-weight: 600;
    font-family: system-ui;
    cursor: pointer;
}
.header__menu{
    padding: 10px;
    min-width: 500px;
    flex: 5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    gap: 40px;
}

.header__menu li{
    font-size: 20px;
    font-weight: 500;
    font-family: system-ui;
    color: var(--third-color);
    cursor: pointer;
}
.header__menu-mobile li{
    font-size: 20px;
    font-weight: 500;
    font-family: system-ui;
    color: var(--third-color);
    cursor: pointer;
}
.header__menu-mobile{
    display: none;
}
.header__menu img{
    width: 15px;
    height: 10px;
    margin-top: 5px;
    border-radius: 100%;
    color: var(--third-color);
    object-fit: contain;
}
.header__menu-mobile img{
    width: 15px;
    height: 10px;
    margin-top: 5px;
    border-radius: 100%;
    color: var(--third-color);
    object-fit: contain;
}
.header__search img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    object-fit: contain;
}
.header__search{
    margin-left: 80px;
    list-style: none;

}
.header__account{
    min-width: 160px;
    flex: 1.5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 100px;
    gap: 10px;
}
.header__account p{
    font-size: 20px;
    font-weight: 400;
    color: var(--third-color);
    cursor: pointer;
}
.header__account img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    object-fit: contain;
}