.options{
    flex: 1;
    display: flex;
    padding: 0 70px 0 70px;
    margin-top: 30px;
}
.options__buttons img{
    height: 10px;
    width: 15px;
    object-fit: contain;
    margin-left: 10px;
}

.options__buttons button{
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    font-family: system-ui;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    outline: none;
    background: var(--secondary-color);
}
.options__buttons button{
    padding-left: 25px;
    padding-right: 25px;
    color: white;
}
.options{
    gap: 20px;
}
.more-space img{
    margin-left: 40px;

}
.options__mobile-button{
    display: flex;
    justify-content: flex-end;
    
}