
@import url("sections/header.css");
@import url("sections/options.css");
@import url("sections/footer.css");
@import url("sections/films.css");


:root{
    --primary-color: black;
    --secondary-color: rgb(79, 79, 79);
    --third-color: rgb(177, 177, 177);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
body{
    background-color: black;
    color: white;
}

@media screen and (max-width:880px){
    .header__menu li{
        display: none;
    }
    .header__menu-mobile{
        flex: 3;
        display: flex;
    }
    .header__menu-mobile img{
        margin-top: 10px;
        margin-left: 5px;
    }
    .header__logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}